# Python binary files
__pycache__/
*.py[cod]
*$py.class

# ignore settings.py, which may have server-specific information
settings.py

# ignore allstaticfiles, which is just a copy of app static folders
allstaticfiles/
