{% extends "cctbx/header.html" %}

{% load static %}

{% block content %}

<div class="col-sm-9 main">

<h2 class="mb-5"><center>Tutorials</center></h2>

<h3>Beginner</h3>
<ul>

  <li class="mb-3"><b><a href="{% url 'tuto_melk_2019' %}">MX model/data tutorial</a></b> (Computing Forum ECM 2019 in Melk)<br>
    This tutorial explains how to read a model file and do some basic operations on it (truncate to polyalanine). The next part introduces miller arrays. The last part explains how to compute R-factors.
  </li>

  <li class="mb-3"><b><a href="{% url 'tuto_rigid_body' %}">Rigid Body Refinement</a></b><br>
    This code example implements the core algorithms used in rigid body refinement
  </li>

  <li><b><a href="http://viper.lbl.gov/cctbx.xfel/index.php/Main_Page">cctbx.xfel tutorials wiki</a></b><br>
    These tutorials provide instructions for indexing and integrating still diffraction images recorded at the LCLS. The tutorials also cover tools to efficiently leverage the LCLS computing cluster to process the thousands to millions of diffraction images that can be recorded in a short time. Finally, processing approaches for data collection at non-LCLS sources are also provided.
  </li>

</ul>

<h3>Advanced</h3>
<ul>
  <li class="mb-3"><b><a href="{% url 'tuto_cctbx_tour' %}">Tour of the cctbx</a></b><br>
    Tour of some cctbx features. This tutorial requires a solid background in crystallography.
  </li>
</ul>

</div>

{% endblock %}
