{% extends "cctbx/header_new.html" %}

{% block content %}

<div class="container">

<h2>About the cctbx</h2>

<p class="mt-5">The Computational Crystallography Toolbox (<i>cctbx</i>) is being developed as the open source component of the <i><a href="http://phenix-online.org">Phenix</a> </i> system. The goal of the <i>Phenix</i> project is to advance automation of macromolecular structure determination. <i>Phenix</i> depends on the cctbx, but not vice versa. This hierarchical approach enforces a clean design as a reusable library. The <i>cctbx</i> is therefore also useful for small-molecule crystallography and even general scientific applications.</p>

<p>To maximize reusability and, maybe even more importantly, to give individual developers a notion of privacy, the <i>cctbx</i> is organized as a set of smaller modules. This is very much like a village (the <i>cctbx</i> project) with individual houses (modules) for each family (groups of developers, of any size including one).</p>

<p>The <i>cctbx</i> code base is available without restrictions and free of charge to all interested developers, both academic and commercial. The entire community is invited to actively participate in the development of the code base. A sophisticated technical infrastructure that enables community based software development is provided by <a href="https://github.com/">GitHub</a>. This service is also free of charge and open to the entire world.</p>

<p>The <i>cctbx</i> is designed with an open and flexible architecture to promote extendability and easy incorporation into other software environments. The package is organized as a set of ISO C++ classes with <a href="https://www.python.org">Python</a> bindings. This organization combines the computational efficiency of a strongly typed compiled language with the convenience and flexibility of a dynamically typed scripting language in a strikingly uniform and very maintainable way.</p>

<p>Use of the Python interfaces is highly recommended, but optional. The <i>cctbx</i> can also be used purely as a C++ class library.</p>

</div>

{% endblock %}
