{% extends "cctbx/header.html" %}

{% load static %}

{% block content %}

<div class="col-sm-9 main">

<h2><center>How to install</center></h2>

<!-- ----------------------------------------------------------------------- -->

<h3 class="mt-5">Easy: Install using conda</h3>

<p class="mt-3">The easiest way to install cctbx is through the <a href="https://docs.conda.io/en/latest/">Conda package manager</a>. You can get a full environment from <a href="https://www.anaconda.com/">Anaconda</a> or just the conda package manager with the <a href="https://docs.conda.io/en/latest/miniconda.html">Miniconda installer</a>.</p>

<p>There are two packages available, <code>cctbx</code> and <code>cctbx-base</code>. The <code>cctbx</code> package is <code>cctbx-base</code> with some additional packages (<code>wxpython</code>, <code>pyside2</code>, <code>ipython</code>).</p>

<p>With the <code>conda</code> command available, a new <code>cctbx-base</code> environment named <code>my_env</code> can be created with</p>

<pre class="codeDL"><code>conda create -n my_env -c conda-forge cctbx-base
</code></pre>

<p>To choose a specific version of Python, add the <code>python</code> package with the specific version</p>

<pre class="codeDL"><code>conda create -n my_env -c conda-forge cctbx-base python=3.8
</code></pre>

<p>Then the environment can be activated with</p>

<pre class="codeDL"><code>conda activate my_env
</code></pre>

<p>To install <code>cctbx-base</code> into the currently active environment, use</p>

<pre class="codeDL"><code>conda install -c conda-forge cctbx-base
</code></pre>

<p>The python package with a specific version can be added to change the version of <code>python</code> that is already installed in the active environment.</p>

<!-- ----------------------------------------------------------------------- -->

<h3 class="mt-5">Building a development version</h3>

<p class="mt-3">1. Download <a href="https://raw.githubusercontent.com/cctbx/cctbx_project/master/libtbx/auto_build/bootstrap.py">https://raw.githubusercontent.com/cctbx/cctbx_project/master/libtbx/auto_build/bootstrap.py</a> in the directory where the cctbx and its dependencies shall be installed</p>

<p>2. Run <code>python bootstrap.py</code> (you may want to run it with the <code>--help</code> option first to discover the available options).</p>

<p>For better compatibility with newer operating systems, you will want to use conda packages for dependencies. Add the <code>--use-conda</code> flag and the command becomes <code>python bootstrap.py --use-conda</code>. This will run the miniconda installer if conda cannot be found. The environment with the dependencies will be located in the <code>conda_base</code> directory. See the description of the <code>--use-conda</code> flag from the <code>--help</code> output for more details.<br>
The installation will take a long while (15 min - 1 hour, depending on your computer) but the script will verbosely describe what it does.</p>

<p>This creates the subdirectories <code>base</code>, <code>build</code>, and <code>modules</code>. The <code>base</code> directory contains dependencies for cctbx, <code>build</code> contains the compiled cctbx code, and <code>modules</code> contains the source code for cctbx. To keep <code>bootstrap.py</code> in your installation directory up-to-date with the version in modules, you can create a symbolic link to that version:</p>

<pre class="codeDL"><code>cd <code>&lt;installation directory&gt;</code>
rm bootstrap.py
ln -s ./modules/cctbx_project/libtbx/auto_build/bootstrap.py
</code></pre>

<p>Within the build directory, <code>cctbx</code> creates a file <code>setpaths.csh</code> (among others). This file must be used to initialize a new shell or process with the cctbx settings:</p>
<pre class="codeDL"><code>source setpaths.csh
</code></pre>

<p>There is also a <code>setpaths.sh</code> for <code>bash</code> users.</p>

<p>To update your cctbx installation to the latest version, you can just run:</p>

<pre class="codeDL"><code>python ./bootstrap.py
</code></pre>

<p>again in the <code>&lt;installation directory&gt;</code>. This will update the source code in the <code>modules</code> directory and recompile the changes (if necessary) in build. Occasionally, dependencies in <code>base</code> are updated. When this happens, just delete the <code>base</code> directory and rerun the <code>bootstrap.py</code> command.</p>

<p>To compile any local changes to the source code, enter the <code>build</code> directory and run:</p>
<pre class="codeDL"><code>make
</code></pre>

<p>This will actually run the <code>libtbx.scons</code> command using all available CPUs. You can also manually specify the number of CPUs to use, for example:</p>
<pre class="codeDL"><code>libtbx.scons -j 4
</code></pre>

<p>Note that <code>libtbx.scons</code> is just a thin wrapper around <a href="http://www.scons.org/">SCons</a>. The <a href="http://www.scons.org/doc/HTML/scons-man.html">SCons documentation</a> applies without modification.</p>

<p>To run scripts with cctbx imports use the command:</p>
<pre class="codeDL"><code>libtbx.python your_script.py
</code></pre>

<p>(You can also use <code>scitbx.python</code>, <code>cctbx.python</code>, <code>iotbx.python</code>, etc.; all these commands are equivalent.)</p>

<p>For example, to run some regression tests after the compilation is finished enter:</p>
<pre class="codeDL"><code>source build/setpaths_all.csh
libtbx.python $SCITBX_DIST/run_tests.py
libtbx.python $CCTBX_DIST/run_tests.py --Quick
</code></pre>

<p>The output should show many OK. A Python Traceback is an indicator for problems.</p>

<!-- ----------------------------------------------------------------------- -->

<h3>SCons - the backbone of the cctbx build system</h3>

<p class="mt-3">Conceptually it is a trivial task to compile and link portable source code. However, in real life this is one of the most time-consuming nuisances, in particular if multiple, diverse platforms have to be supported. In the version 1.0 release of the cctbx we made an attempt to address this with the home-made <em>fast track</em> build system. Of course home-made is often good enough, but a professional solution is almost always better, especially if it comes with no strings attached.</p>

<p>Fortunately such a system is now available: <a href="http://www.scons.org/">SCons</a>, short for Software Construction tool. This is a perfect fit for the cctbx because the SCons developers have apparently adopted a similar “professional is better than home-made” philosophy: SCons is implemented in pure Python, and SCons configuration files (the equivalent of Makefiles) are pure Python scripts. SCons has many advantages compared to a traditional make-based build system. To quote some points from the SCons documentation:</p>

<ul>
    <li>Global view of all dependencies – no more multiple build passes or reordering targets to build everything.</li>
    <li>Reliable detection of build changes using MD5 signatures – no more “clock skew detected, build may be incomplete”.</li>
    <li>Built-in support for C, C++, Fortran, Yacc and Lex.</li>
    <li>Improved support for parallel builds – like make -j but keeps N jobs running simultaneously regardless of directory hierarchy.</li>
    <li>Building from central repositories of source code and/or pre-built targets.</li>
    <li>Designed from the ground up for cross-platform builds, and known to work on Linux, POSIX, Windows NT, Mac OS X, Tru64 Unix, and OS/2.</li>
</ul>

<p>When we moved from our home-grown build system to SCons we found all these points to be perfectly true. It only took very little effort to write a small configure script for setting up a master SConstruct file based on the user’s choice of which cctbx modules to use and which to ignore. New modules can easily be tied into this system simply by providing a SConstruct file in the module’s top-level directory. The author of the new module has complete control over the build process. The existing settings can simply be reused, customized, or totally replaced, all within one uniform and 100% platform-independent framework, the Python language.</p>

<!-- ----------------------------------------------------------------------- -->

</div>

<!-- sidebar, which will move to the top on a small screen -->
<div class="col-sm-3 mt-5">
  <nav id="toc" data-toggle="toc"></nav>
</div>



{% endblock %}
