@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    max-height:350px;
}

.CodeMirror-scroll {
    height: auto;
    max-height:350px;
}

.bg-blue-DL {
  background-color: #e6f5ff;
}

.bg-code-DL{
  background-color: #e6e6ff;
}
