#body-row {
    margin-left:0;
    margin-right:0;
}

/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */
#sidebar-container {
    min-height: 100vh;
    background-color: #007599;
    padding: 0;
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}
#sidebar-container ul li a {
    padding: 10px;
    color: white;
    display: block;
    background-color: #007599;
    font-size: 1.1em;
}
#sidebar-container ul li a.active {
    color: white;
    background-color: #009ccc;
}
#sidebar-container ul li a:hover {
    color: #00303F;
    background-color: #ccf3ff;
    text-decoration: none !important
}
/* Submenu item*/
.ulsubmenu li{
    font-size: 0.9em;
    line-height: 1.5em;
}
.ulsubmenu li a {
    display: block;
    margin-left: 40px;
}
/* Closed submenu icon */
#sidebar-container .sidenav-list .submenu-head[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .sidenav-list .submenu-head[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* ---------------------------------------------------
    TOP NAVBAR
----------------------------------------------------- */
.MyTopNavbar {
  background-color: #00303F;
}
.MyTopNavbar a{
  color: white;
}
.MyTopNavbar a:hover {
  color: #ccf3ff;
}

/* ---------------------------------------------------
    CODE STYLE
----------------------------------------------------- */
.codeDL {
  font-size:12px;
  background-color: #e6e6ff;
}
.bg-blue-DL {
  background-color: #e6f5ff;
}
.bg-code-DL{
  background-color: #e6e6ff;
}
.mybadge {
  font-size: 18px !important;
  background-color: #7386d5;
}
.taskspan {
  font-size: 16px;
  margin-left: 10px;
}
.task {
/*  border:2px;
  border-style:solid;
  border-color:#7386d5;
  border-radius: 4px 4px 4px 4px ; */
  padding: 10px;
  background-color: #c4cced;
  font-size: 16px;
}
/* ---------------------------------------------------
    CODEMIRROR
----------------------------------------------------- */
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    max-height:350px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 13px;
}

.CodeMirror-scroll {
    height: auto;
    max-height:350px;
}

/* ---------------------------------------------------
    DOCUMENTATION
----------------------------------------------------- */
#DocOverview ul {
  list-style-type: none;
  margin-left: -20px;
}

/* ---------------------------------------------------
    TABS
----------------------------------------------------- */

/* change border radius for the tab , apply corners on top*/
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
#exTab3 .tab-content {
  color : black;
  background-color: #ebeef9;
  padding : 5px 15px;
}

.myblue > li > a.active {
  background-color: #ebeef9 !important;
  color: black !important;
}

.myblue > li > a:hover {
  color: #7386d5 !important;
}

.nav-link-color {
  color: black;
}

.myblue > li > a,
.myblue > li > a:hover,
.myblue > li > a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*
#DownloadBtn {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: -10px;
    background: #1a5a7c;
    color: #fff !important;
    border-color: #fff;
    font-size: 18px;
}
#DownloadBtn:hover {
    background: #fff;
    color: #1a5a7c !important;
    border-color: #1a5a7c;
}*/
