{% extends "tutorials_cctbx/header.html" %}

{% load static %}

{% block content %}

<h2 style="text-align:center">Part 3: Truncate to Poly-Ala - Improved</h2>

<h4 class="mt-5 mb-4">Files</h4>
<ul>
  <li><a href="https://gitcdn.link/repo/phenix-lbl/cctbx_tutorial_files/master/2019_melk/resname_mix.pdb" style="text-decoration: underline; color: blue" download>resname_mix.pdb</a></li>
</ul>

<h4 class="mt-5 mb-4">Rare cases</h4>

<p>For most practical purposes, the script from the previous task is completely sufficient. However, there are  some files in the PDB for which this is not true. One example is the structure with the PDB ID 1ysl.<br>
Run your script on the file <code>resname_mix.pdb</code> and look at the output (use a text editor or PyMol; the file cannot be opened in Coot).</p>

<p>The script did not remove the side chain atoms of the modified residue CSD. This residue has in fact an alternate conformation. Conformation "A" is the modified amino acid CSD, conformation "B" is a CYS.</p>

<pre class="bg-light" style="font-size: 12px"><code>HETATM 3907  N  ACSD B 111      25.006  36.731  16.222  0.50 18.83           N
HETATM 3908  CA ACSD B 111      25.536  35.903  15.152  0.50 19.90           C
HETATM 3909  CB ACSD B 111      25.931  36.658  13.876  0.50 21.09           C
HETATM 3910  SG ACSD B 111      25.414  38.295  13.671  0.50 26.29           S
HETATM 3911  C  ACSD B 111      26.713  35.054  15.562  0.50 19.23           C
HETATM 3912  O  ACSD B 111      27.472  34.533  14.697  0.50 20.10           O
HETATM 3913  OD1ACSD B 111      23.793  38.008  13.181  0.50 30.17           O
HETATM 3914  OD2ACSD B 111      25.111  39.102  15.048  0.50 26.06           O
ATOM   3915  N  BCYS B 111      24.996  36.697  16.246  0.50 13.39           N
ATOM   3916  CA BCYS B 111      25.522  35.913  15.123  0.50 16.53           C
ATOM   3917  C  BCYS B 111      26.790  35.104  15.498  0.50 15.20           C
ATOM   3918  O  BCYS B 111      27.342  34.391  14.660  0.50 16.26           O
ATOM   3919  CB BCYS B 111      25.840  36.879  13.947  0.50 20.05           C
ATOM   3920  SG BCYS B 111      24.645  38.257  14.039  0.50 29.86           S</code></pre>

<p class="mt-3">Rare cases like this are the reason why the residue_group and atom_group levels are needed in the hierarchy. Here are two different residue names for the same member of a chain. Even though this sitution is rare, it is entirely plausible and valid, and a comprehensive PDB processing library has to be able to handle it.<br>
    Our script will only truncate the CYS residue, but it would be better if it also truncated the non-standard CSD residue in the A alternative conformation. Let's find out what it takes to achieve this.</p>

<p>One way would be to add the 3 letter code for all modified amino acids to the dictionary. This however relies on the completeness of the dictionary; what happens if the 3 letter code changes or if other entries are added?<br>
  Another possibility is to check if there is at least one amino acid in a residue group, and if so, apply the truncation to all residues in the group, even if they don't have a standard residue name. This means, for each residue group we have to loop over the atom groups twice, first to scan for at least one standard amino-acid residue name, and if there is one, a second time to do the truncation. This will double effort (and computing time), but it is required to accomodate all possible cases.</p>

<p>This is the part of the script we have to work on:</p>

<div><textarea class="code">
for ag in rg.atom_groups():
  if (ag.resname in aa_resnames):
    for atom in ag.atoms():
      if (atom.name not in ala_atom_names):
        ag.remove_atom(atom=atom)</textarea></div>

<div class="card ml-5 mr-5 mb-5 mt-3">
  <div class="card-header bg-blue-DL">
    <div class="container">
      <div class="row">
        <div class="col">
          <b>TASK</b>
        </div>
        <div class="col-8">
          Modify the script so that it also truncates CSD.
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <b>TIP:</b> Replace the if-statement in line 2 (above) with a function that returns True if the residue_group contains at least one amino-acid (and False otherwise).
  </div>
</div>

<h4 class="mt-5 mb-4">Refining the script</h4>

<p>The script now truncates the model and can take care of rare cases involving alternate conformations. However, it doesn't tell the user anything about the performed tasks. For example, it would be interesting to know how many atoms were deleted, how many residue are affected, and how many residue are unchanged.</p>

<p>To get the desired information, we need counters, and we need to initialize them before we enter the nested loops over the hierarchy:</p>

<div><textarea class="code">
n_amino_acid_residues = 0
n_other_residues = 0
n_atoms_removed = 0</textarea></div>

<p class="mt-3">When the loops over the hierarchy are finished, we print the counts:</p>

<div><textarea class="code">
    print("Number of amino acid residues:", n_amino_acid_residues)
    print("Number of other residues:", n_other_residues)
    print("Number of atoms removed:", n_atoms_removed)</textarea></div>

<p class="mt-3">Since we can now easily find out if no atoms were removed (e.g. because someone passed in a DNA model), we should take advantage of it and write the output PDB file only if there are changes. For example:</p>

<div><textarea class="code">
  if (n_atoms_removed != 0):
    output_pdb = os.path.splitext(model_filename)[0] + "_truncated_to_ala.pdb"
    print("Writing file: ", output_pdb)
    pdb_hierarchy.write_pdb_file(
      file_name=output_pdb,
      crystal_symmetry=pdb_inp.crystal_symmetry())</textarea></div>

<p class="mt-3">Since we can now easily find out if no atoms were removed (e.g. because someone passed in a DNA model), we should take advantage of it and write the output PDB file only if there are changes. For example:</p>

<div class="card  ml-5 mr-5 mt-3" id="accordionThree">
  <div class="card-header bg-blue-DL" id="headingThree">
    <div class="container">
      <div class="row">
        <div class="col">
          <b>TASK</b>
        </div>
        <div class="col-8">
          Modify the script:
          <ul>
            <li>Print the counts</li>
            <li>Pass the crystal symmetry parameter to <code>write_pdb_file</code> (what changes if we do this?).</li>
            <li>Write the output only if the input contains amino acid residues.</li>
          </ul>
        </div>
        <div class="col">
          <button class="btn-sm btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded  ="  false" aria-controls="collapseThree">
            Show output
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionThree">
    <div class="card-body">
        <pre class="bg-light" style="font-size: 12px"><code>Number of amino acid residues: 3
Number of other residues: 0
Number of atoms removed: 11
Writing file:  resname_mix_truncated_to_ala.pdb</code></pre>
    </div>
  </div>
</div>




{% endblock %}
