{% extends "tutorials_cctbx/header.html" %}

{% block content %}

<h1 style="text-align:center">CCTBX tutorial</h1>

<h1 style="text-align:center">Crystallographic computing school, Melk, August 2019</h1>

<p class="mt-5">Before you study any of the scripts below, install the cctbx. This will enable you to run the scripts. Each page lists the links for necessary files.</p>
<p>On purpose, there are no answers for the scripts (it is too easy to just look how it was done...). If you really need the answers, write an email to dcliebschner@lbl.gov.</p>

{% endblock %}
