{% extends "tutorials_cctbx/header.html" %}

{% load static %}

{% block content %}


<h2 style="text-align:center">Part 1: Basic script reading a model file</h2>

<h4 class="mt-5 mb-4">Files</h4>
<ul>
  <li><a href="{% static '/files/melk/tutorial_1_v0.py' %}" style="text-decoration: underline; color: blue" download>tutorial_1_v0.py</a></li>
  <li><a href="{% static '/files/melk/1aba_pieces.pdb' %}"  style="text-decoration: underline; color: blue" download>1aba_pieces.pdb</a></li>
</ul>


<h4 class="mt-5 mb-4">Getting started:</h4>

<p>Open the file <code>tutorial_1_v0.py</code> in your source code editor.<br>
Most of this script is so called boilerplate code, i.e. code that in some form or shape is found in most Python scripts.</p>

<div><textarea class="code" name="code">
from __future__ import division, print_function
import sys
import mmtbx.model
import iotbx.pdb

def run(args):
  if (len(args) != 1):
    raise RuntimeError("Please specify one pdb file name.")
  model_filename = args[0]
  pdb_inp = iotbx.pdb.input(file_name=model_filename)
  model = mmtbx.model.manager(model_input = pdb_inp)

if (__name__ == "__main__"):
  run(sys.argv[1:])</textarea></div>

<p class="mt-3">At the beginning of the script are import statements, which import the modules needed for a task. <br>
  The bottom lines represent best practice. They enable the script to be imported and used from other Python   scripts.<br>
  The first two lines of the run() function are a minimalistic - but often sufficient - way to give users a hint how to use the script. It works both for someone reading the source code of the script, and a user running the script without arguments.</p>

<div class="card bg-blue-DL ml-5 mr-5">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <b>TASK</b>
        </div>
        <div class="col-11">
          Execute the script by typing <code>python tutorial_1_v0.py</code>.
        </div>
      </div>
    </div>
  </div>
</div>


<p class="mt-3">The output is:</p>

<pre class="bg-light" style="font-size: 12px"><code>Traceback (most recent call last):
  File "tutorial_1_v0.py", line 15, in <module>
    run(sys.argv[1:])
  File "tutorial_1_v0.py", line 8, in run
    raise RuntimeError("Please specify one pdb file name.")
RuntimeError: Please specify one pdb file name.</code></pre>

<p>In addition to showing the error message, Python shows exactly where the error originates. This is often extremely helpful.</p>

<p>The important part of the script is in these three lines:</p>

<div><textarea class="code">
pdb_inp = iotbx.pdb.input(file_name = model_filename)
model = mmtbx.model.manager(model_input = pdb_inp)</textarea></div>

<p class="mt-3">The first line creates the class for reading a model from a file or string. It is the main input method for both PDB and mmCIF files; it will automatically determine the actual format and return the appropriate data type.<br>
  The second line creates the model class, which serves as container for model information to be passed  between library functions. For example, it selects, copies and updates model information, stores libraries, and ensures consistency between lower level objects.</p>

<h4 class="mt-5 mb-4">Use print and help()</h4>

<p>While analyzing a script, insert <code>print()</code> statements and run the script to find out more about the objects. It may also be useful to insert <code>help(obj)</code> to see the attributes and methods of obj, where obj can be any of the objects created in the script.<br>
For example, let's try to use the <code>show</code> method of the <code>model.composition()</code> object, which produces output that is useful to give the user a quick overview of what is in the PDB file. Add the following lines to your script.</p>

<div><textarea class="code">composition_obj = model.composition()
print(help(composition_obj))</textarea> </div>

<p class="mt-3">The <code>help()</code> method calls the built-in Python help system. It lets you read the docstring and get an idea of what attributes and methods a class might have. (Press <kbd>q</kbd> to exit the help mode)</p>

<div class="card  ml-5 mr-5 mt-3" id="accordionOne">
  <div class="card-header bg-blue-DL" id="headingOne">
    <div class="container">
      <div class="row">
        <div class="col">
          <b>TASK</b>
        </div>
        <div class="col-8">
          Run the script by using the Python <code>help</code> mehtod for the <code>composition</code> class.
        </div>
        <div class="col">
          <button class="btn-sm btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded  ="  false" aria-controls="collapseOne">
            Show output
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOne">
    <div class="card-body">
      <pre class="bg-light" style="font-size: 12px"><code>Help on composition in module mmtbx.model.statistics object:

  class composition(__builtin__.object)
   |  Methods defined here:
   |
   |  __init__(self, pdb_hierarchy)
   |
   |  result(self)
   |
   |  show(self, log, prefix='')
   |
   |  ----------------------------------------------------------------------
   |  Data descriptors defined here:
   |
   |  __dict__
   |      dictionary for instance variables (if defined)
   |
   |  __weakref__
   |      list of weak references to the object (if defined)
  (END)</code></pre>
    </div>
  </div>
</div>

<p class="mt-3">We can see from the <code>help</code> output that the <code>composition</code> class has two methods ('show' and 'result') and that the 'show' method requires setting the parameter 'log'. Set it to <code>sys.stdout</code>.</p>

<div><textarea class="code">model.composition().show(log=sys.stdout)</textarea></div>

<div class="card bg-blue-DL ml-5 mr-5 mt-3">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <b>TASK</b>
        </div>
        <div class="col-11">
          Use the method <code>composition.show()</code> and run the script with the file <code>1aba_pieces.pdb</code>.
        </div>
      </div>
    </div>
  </div>
</div>

<p class="mt-3">The output is:</p>

<pre class="bg-light" style="font-size: 12px"><code> Number of:
   all atoms      : 48
   H or D atoms   : 0
   chains         : 2
   a.a. residues  : 5
   nucleotides    : 0
   water          : 4
   other (ligands): 0
 Ligands: None</code></pre>


{% endblock %}
