<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CCTBX documentation</title>

    {% load static %}

    <!-- For Code Mirror -->
    <link rel="stylesheet" href="{% static 'css/codemirror.css' %}" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matchbrackets.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/python.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Table of Contents -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/mystyle_new.css' %}" type="text/css">

    <!-- Font Awesome JS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Font Awesome
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script> -->

    <!-- Our Custom CSS-->

    <script type="text/javascript" src="{% static 'js/myheaderjs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myjavascript_new.js' %}"></script>

  </head>


<body class="body" data-spy="scroll" data-target="#toc">

<!-- Bootstrap NavBar -->
<nav class="navbar navbar-expand-md MyTopNavbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <span class="menu-collapsed">cctbx - Computational Crystallography Toolbox</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#top">Phenix website</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#top">CCI website</a>
            </li>
        </ul>
    </div>
</nav><!-- NavBar END -->

<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->

        <ul class="list-unstyled components sidenav-list mt-4">

            <li>
              <a href="{% url 'index' %}" class="active">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-home fa-fw mr-3"></span>
                      <span class="menu-collapsed">Home</span>
                  </div>
              </a>
            </li>
            <li>
              <a href="http://cci.lbl.gov/cctbx_build/">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-download fa-fw mr-3"></span>
                    <span class="menu-collapsed">Download</span>
                </div>
              </a>
            </li>
            <li>
              <a href="{% url 'installation' %}">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-keyboard-o fa-fw mr-3"></span>
                    <span class="menu-collapsed">How to install</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-pencil fa-fw mr-3"></span>
                    <span class="menu-collapsed">Getting started</span>
                </div>
              </a>
            </li>
            <li>
                <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Documentation</a> -->
                <a data-target="#submenu-doc" data-toggle="collapse" class=" flex-column align-items-start submenu-head" aria-expanded="false" aria-controls="submenu-doc">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-book fa-fw mr-3"></span>
                        <span class="menu-collapsed">Documentation</span>
                        <span class="fa  submenu-icon ml-auto"></span>
                    </div>
                </a>
                <ul class="collapse list-unstyled ulsubmenu" id="submenu-doc">
                    <li>
                        <a href="{% url 'documentation_overview' %}">Overview</a>
                    </li>
                    <li>
                        <a href="#">Getting started</a>
                    </li>
                    <li>
                        <a href="{% url 'newsletter_artcls' %}">Newsletter articles</a>
                    </li>
                    <li>
                      <a href="#">Examples</a>
                    </li>
                </ul>
            </li>
            <li>
              <a href="{% url 'tutorials_intro' %}">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-puzzle-piece fa-fw mr-3"></span>
                      <span class="menu-collapsed">Tutorials</span>
                  </div>
              </a>
            </li>
            <li>
              <a href="{% url 'about' %}">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-hand-o-up fa-fw mr-3"></span>
                      <span class="menu-collapsed">About the cctbx</span>
                  </div>
              </a>
            </li>
            <li>
              <a href="https://github.com/cctbx/cctbx_project">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-github fa-fw mr-3"></span>
                      <span class="menu-collapsed">cctbx on GitHub</span>
                  </div>
              </a>
            </li>
            <li>
              <a href="#top" data-toggle="sidebar-colapse">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                    <span id="collapse-text" class="menu-collapsed">Collapse</span>
                </div>
              </a>
            </li>
        </ul>


    </div><!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col p-4">

        <!-- Page Content  -->
        <div id="content">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div><!-- Main Col END -->

</div><!-- body-row END -->

{% block extra_js %}{% endblock extra_js %}

</body>


</html>
