{% extends "tutorials_cctbx/header.html" %}

{% load static %}

{% block content %}

<div class="container">

<h2><center>Newsletter Articles</center></h2>

<ul class="mt-5">
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_jan2003.pdf">IUCr Computing Commission No. 1, 2003/01</a>
    <p>State of the Toolbox: an overview of the Computational Crystallography Toolbox (CCTBX)</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_jul2003.pdf">IUCr Computing Commission No. 2, 2003/07</a>
    <p>Fast triplet generator for direct methods<br>
    Gallery of direct-space asymmetric units</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_jan2004.pdf">IUCr Computing Commission No. 3, 2004/01</a>
      <p>Reduced cell computations<br>
      Determination of lattice symmetry<br>
      N-Gaussian approximations to scattering factors<br>
      Fast structure-factor gradients<br>
      Universal reflection file reader</p>
  </li>

  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_aug2004.pdf">IUCr Computing Commission No. 4, 2004/08</a>
  </li>

</ul>

</div>

{% endblock %}
