{% extends "tutorials_cctbx/header.html" %}

{% load static %}

{% block content %}

<div class="container">

<h2><center>Newsletter Articles</center></h2>

<ul class="mt-5">
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_jan2003.pdf">IUCr Computing Commission No. 1, 2003/01</a>
    <p>State of the Toolbox: an overview of the Computational Crystallography Toolbox (CCTBX)</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_jul2003.pdf">IUCr Computing Commission No. 2, 2003/07</a>
    <p>Fast triplet generator for direct methods<br>
    Gallery of direct-space asymmetric units</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_jan2004.pdf">IUCr Computing Commission No. 3, 2004/01</a>
      <p>Reduced cell computations<br>
         Determination of lattice symmetry<br>
         N-Gaussian approximations to scattering factors<br>
         Fast structure-factor gradients<br>
         Universal reflection file reader</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_aug2004.pdf">IUCr Computing Commission No. 4, 2004/08</a>
    <p>Geometry restraints<br>
       Bulk solvent correction and scaling</p>
  </li>
  <li>
    <a class="reference external" href="http://cci.lbl.gov/publications/download/iucrcompcomm_jan2005.pdf">IUCr Computing Commission No. 5, 2005/01</a>
    <p>Phil and friends (<a href="libtbx/libtbx.phil.html"><span class="doc">latest Phil documentation</span></a>)<br>
      Refinement tools<br>
      Reflection statistics<br>
      Double coset decomposition<br>
      iotbx.mtz</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_sep2005.pdf">IUCr Computing Commission No. 6, 2005/09</a>
    <p>See also <a href="#">Sienna 2005 tutorials</a></p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_nov2006.pdf">IUCr Computing Commission No. 7, 2006/11</a>
    <p>iotbx.pdb<br>
       mmtbx.alignment<br>
       scitbx.math.superpose<br>
       mmtbx.super</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_nov2007.pdf">IUCr Computing Commission No. 8, 2007/11</a>
    <p>Refinement tools for small-molecule crystallographers
       Phil developments (<a href=""><span class="doc">latest Phil documentation</span></a>)</p>
  </li>
  <li>
    <a href="http://cci.lbl.gov/publications/download/iucrcompcomm_oct2008.pdf">IUCr Computing Commission No. 8, 2008/10</a>
    <p>Symmetry in crystallographic applications</p>
  </li>
  <li>
    <a class="reference external" href="http://cci.lbl.gov/publications/download/iucrcompcomm_nov2009.pdf">IUCr Computing Commission No. 8, 2009/11</a>
    <p>Experience converting a large Fortran-77 program to C++</p>
  </li>
  <li><a href="http://www.ccp4.ac.uk/newsletters/newsletter42/articles/Afonine_GrosseKunstleve_Adams_18JUL2005.doc">CCP4 newsletter No. 42, Summer 2005: The Phenix refinement framework</a></li>
  <li><a href="http://www.ccp4.ac.uk/newsletters/newsletter42/articles/CCP4_2005_PHZ_RWGK_PDA.doc">CCP4 newsletter No. 42, Summer 2005: Characterization of X-ray data sets</a></li>
  <li><a href="http://www.ccp4.ac.uk/newsletters/newsletter43/articles/PHZ_RWGK_PDA.pdf">CCP4 newsletter No. 43, Winter 2005: Xtriage and Fest: automatic assessment of X-ray data and substructure structure factor estimation</a></li>
  <li><a href="http://www.ccp4.ac.uk/newsletters/newsletter44/articles/explore_metric_symmetry.html">CCP4 newsletter No. 44, Summer 2006: Exploring Metric Symmetry</a></li>
</ul>

</ul>

</div>

{% endblock %}
