{% extends "tutorials_cctbx/header.html" %}

{% load static %}

{% block content %}

<div class="container">

<h2><center>Tutorials</center></h2>

<p class="mt-3">The following <i>cctbx</i> tutorials are available:</p>

<ul>
  <li class="mb-3"><b><a href="{% url 'tuto_melk_2019' %}">Computing Forum ECM 2019 (Melk):</a></b><br>
    This tutorial explains how to read a model file and do some basic operations on it (truncate to polyalanine). The next part introduces miller arrays. The last part explains how to compute R-factors.
  </li>
  <li><b><a href="http://viper.lbl.gov/cctbx.xfel/index.php/Main_Page">cctbx.xfel tutorials wiki</a></b>
    These tutorials provide instructions for indexing and integrating still diffraction images recorded at the LCLS. The tutorials also cover tools to efficiently leverage the LCLS computing cluster to process the thousands to millions of diffraction images that can be recorded in a short time. Finally, processing approaches for data collection at non-LCLS sources are also provided.
  </li>
</ul>

</div>

{% endblock %}
