<pre class="bg-light" style="font-size: 12px"><code>Loop over hierarchy:
Chain:  A
  Resnumber:     3
    Resname: LYS, Altloc:
       N
       CA
       C
       O
       CB
       CG
       CD
       CE
       NZ
  Resnumber:     4
    Resname: VAL, Altloc:
       N
       CA
       C
       O
       CB
       CG1
       CG2
  Resnumber:     5
    Resname: TYR, Altloc:
       N
       CA
       C
       O
       CB
       CG
       CD1
       CD2
       CE1
       CE2
       CZ
       OH
  Resnumber:     6
    Resname: GLY, Altloc:
       N
       CA
       C
       O
  Resnumber:     7
    Resname: TYR, Altloc:
       N
       CA
       C
       O
       CB
       CG
       CD1
       CD2
       CE1
       CE2
       CZ
       OH
Chain:  B
  Resnumber:    96
    Resname: HOH, Altloc:
       O
  Resnumber:   161
    Resname: HOH, Altloc:
       O
  Resnumber:   169
    Resname: HOH, Altloc:
       O
  Resnumber:   193
    Resname: HOH, Altloc:
       O
</code></pre>
