<pre class="bg-light" style="font-size: 12px"><code>Loop over hierarchy:
Chain:  A
  Resnumber:     3
    Resname: LYS, Altloc:
       CG
       CD
       CE
       NZ
  Resnumber:     4
    Resname: VAL, Altloc:
       CG1
       CG2
  Resnumber:     5
    Resname: TYR, Altloc:
       CG
       CD1
       CD2
       CE1
       CE2
       CZ
       OH
  Resnumber:     6
    Resname: GLY, Altloc:
  Resnumber:     7
    Resname: TYR, Altloc:
       CG
       CD1
       CD2
       CE1
       CE2
       CZ
       OH
Chain:  B
  Resnumber:    96
  Resnumber:   161
  Resnumber:   169
  Resnumber:   193
</code></pre>
