{% extends "phenix/header.html" %}

{% block content %}

<div class="col-sm-9 main">

<h1><center>Phenix developers documentation</center></h1>

<p class="mt-4">The Phenix developers documentation is aimed towards researchers who contribute tools to Phenix. It might be also of interest to scientists who want to use Phenix or cctbx in scripts.</p>
<p>Topics include the following:</p>
<ul>
  <li>Description of high level Phenix tools</li>
  <li>How to use the Phenix program template</li>
  <li>Useful jiffys that speed up debugging or analysis</li>
  <li>Programming tips; for example how to profile runtime</li>
</ul>
</p>

</div>

{% endblock %}
